---
interface Props {
  product: Producto
}

import Caracteristica from '../../components/Caracteristica.astro'
import data from '../../data/products.json'
import Layout from '../../layouts/Layout.astro'
import type { Producto } from '../../types/types'

// const products = data as Producto[];

export const getStaticPaths = () => {
  return data.map((product) => {
    return {
      params: {
        nombre: product.nombre.replace(' ', '_')
      },
      props: { product }
    }
  })
}

const { product } = Astro.props
---

<Layout title={`Dulcesol - ${product.nombre}`}>
  <div class='flex flex-col gap-10'>
    <div class='flex md:flex-row gap-3 flex-col-reverse'>
      <div
        class='border-4 border-red-100 rounded-lg m-2 md:w-1/2 overflow-hidden bg-white text-center relative'
      >
        <a
          class='m-2 inline-block z-20 absolute top-0 left-0 rounded-full bg-gradient-to-r from-pink-500 via-red-500 to-yellow-500 p-[2px] hover:text-white text-red-600 focus:outline-none focus:ring active:text-opacity-75'
          href='/productos' title="Volver a la página de productos"
        >
          <span
            class='block rounded-full bg-white px-3 py-3 text-sm font-medium hover:bg-transparent'
          >
            <svg
              xmlns='http://www.w3.org/2000/svg'
              class='icon icon-tabler icon-tabler-arrow-left'
              width='24'
              height='24'
              viewBox='0 0 24 24'
              stroke-width='2'
              stroke='currentColor'
              fill='none'
              stroke-linecap='round'
              stroke-linejoin='round'
            >
              <path stroke='none' d='M0 0h24v24H0z' fill='none'></path>
              <path d='M5 12l14 0'></path>
              <path d='M5 12l6 6'></path>
              <path d='M5 12l6 -6'></path>
            </svg>
          </span>
        </a>
        <img
          class='inline'
          src={product.imagen}
          transition:name=`tr-img-${product.id}`
          alt={product.nombre}
        />
      </div>
      <div class='m-4 md:w-1/2'>
        <div class='flex flex-col gap-4 h-full align-middle items-stretch'>
          <h1
            class='text-3xl font-bold text-red-800 sm:text-5xl font-poppins'
            transition:name=`tr-title-${product.id}`
          >
            {product.nombre}
          </h1>
          <div class='grow text-xl'>
            <p class='md:mt-10 mt-2' transition:name=`tr-desc-${product.id}`>
              {product.descripcion}
            </p>
          </div>
          <div class='end flex flex-row gap-4 justify-around py-5'>
            <Caracteristica src='/heart.svg' title={product.valorEnergetico} />
            <Caracteristica src='/box.svg' title={product.unidadesPaquete} />
            <Caracteristica src='/scale.svg' title={product.pesoPaquete} />
          </div>
        </div>
      </div>
    </div>
    <div class='h-[1px] bg-gray-600 rounded-full'></div>
    <div class='flex flex-col gap-5'>
      <h2 class='text-2xl font-bold text-red-800 sm:text-4xl'>Ingredientes</h2>
      <div class='flex flex-col gap-4'>
        <p class=''>
          {product.ingredientes}
        </p>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta alias
          ab, nisi perspiciatis harum eum dolor pariatur labore dolores dolore
          dolorum tempora consequatur enim veritatis. Earum qui iste molestiae
          neque.
        </p>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae
          dicta qui earum suscipit fugit magnam velit, pariatur minima
          consequatur. Eos impedit quidem omnis quaerat quas et cumque libero
          odit alias.
        </p>
        <p>
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Soluta, iste
          accusamus dolores, beatae dignissimos voluptatibus dolore laudantium
          aliquid quisquam eius tempora voluptate! Totam mollitia dolores
          voluptate corporis dolore distinctio accusamus?
        </p>
        <p>
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ea rem
          commodi consectetur dolores aspernatur dolorum quo nulla quae mollitia
          quod vitae dignissimos accusamus id quidem at, aliquam modi libero
          voluptate.
        </p>
      </div>
    </div>
  </div>
</Layout>
<style></style>
