---
interface Props {
  producto: Producto
}
import type { Producto } from '../types/types'

const { producto } = Astro.props

console.log()
---
<a
  href={`/productos/${producto.nombre.replace(' ', '_')}`}
  class='border-2 p-2 rounded-md border-red-100 h-[400px] flex flex-col gap-2'
>
  <div class="overflow-hidden self-center">
    <img
      alt={producto.nombre}
      transition:name=`tr-img-${producto.id}`
      transition:animate='fade' 
      src={producto.imagen}
      class='h-64 w-72 object-cover hover:scale-110 duration-300'
    />
  </div>

  <h3
    class='mt-4 text-lg font-bold text-red-800 sm:text-xl'
    transition:name=`tr-title-${producto.id}`
  >
    {producto.nombre}
  </h3>

  <div class='overflow-hidden h-14 self-end'>
    <p class='mt-2 max-w-sm text-gray-700 text-clip' transition:name=`tr-desc-${producto.id}`>
      {producto.descripcionCorta}
    </p>
  </div>
</a>
